<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<form th:method="POST" th:action="@{/}" th:object="user">
    <div>
        <td th:utext="${user.username}">Username</td>
        <br/>
        <hr/>
        <td th:utext="${user.age}">Age</td>
        <br/>
        <hr/>
        <td th:utext="${user.roles}">Role</td>
        <br/>
        <hr/>
    </div>
</form>
</body>
</html>